.projects {
  flex: 1;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 768px;
  align-self: center;
}

.projects__container {
  padding: 20px 50px;
}

.projects__list {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.projects__project {
  border-bottom: 1px solid;
  border-color: #8e8d8a;
}

.projects__project_last {
  border: none;
}

@media screen and (min-width: 100px) and (max-width: 424px) {
  .projects__container {
    padding: 15px 25px;
  }
}