.project {
  padding-bottom: 15px;
}

.project__container {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.project__info {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project__name {
  margin: 0;
  font-size: 17px;
}

.project__brief {
  margin: 0;
  font-size: 14px;
}

.project__details {
  display: none;
}

.project__details_expanded {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project__details-text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project__details-heading {
  margin: 0;
  font-size: 15px;
  line-height: 17px;
  font-weight: 500;
}

.project__details-text {
  margin: 0;
  font-size: 15px;
  line-height: 19px;
}

.project__details-readme {
  color: black;
}

.project__details-btn {
  color: black;
  margin: 7px 0 0 0;
  padding: 0;
  border: 1px solid;
  border-color: #8e8d8a;
  width: 120px;
  height: 24px;
  font-size: 14px;
  transition: all .4s;
}

.project__details-btn:hover {
  cursor: pointer;
  background-color: #b8b8b6;
  transition: all .4s;
}

.project__details-btn-container {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.project__details-btn-text {
  margin: 0;
}

.project__details-btn-text:first-child {
  width: 12px;
}

.project__link {
  font-size: 15px;
  text-decoration: none;
  color: #5a5957;
  display: flex;
  max-height: 25px;
  align-items: center;
  gap: 7px;
}

.project__link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.project__link-btn {
  margin-top: 3px;
  background-image: url(../../images/arrow-btn.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 425px) and (max-width: 475px) {
  .project__info {
    max-width: 180px;
  }
}

@media screen and (min-width: 300px) and (max-width: 424px) {
  .project__info {
    max-width: 150px;
  }

  .project__name {
    font-size: 16px;
  }

  .project__brief {
    font-size: 13px;
  }

  .project__link {
    font-size: 14px;
  }

  .project__link-btn {
    width: 10px;
    height: 10px;
    margin-top: 1px;
  }

  .project__details-btn-text {
    font-size: 14px;
  }

  .project__details-heading {
    font-size: 15px;
    font-weight: bold;
  }

  .project__details-text {
    font-size: 15px;
    line-height: 19px;
  }
}