{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unescaped-entities": "off",
    "react/button-has-type": "off",
    "react/no-array-index-key": "off"
  },
  "overrides": [
    {
      "files": ["**/*.stories.*", "src/stories/**/*", "*.jsx"],
      "rules": {
        "import/no-anonymous-default-export": "off",
        "import/no-extraneous-dependencies": "off",
        "react/prop-types": "off"
      }
    }
  ]
}
