.root {
  margin-left: calc(100vw - 100%);
  overflow: hidden;
  min-height: 100vh;
  font-family: "Ubuntu", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 100px) and (max-width: 424px) {
  .root {
    font-family: "Ubuntu-light", "Arial", sans-serif;
  }
}