.root {
  min-height: 100vh;
  font-family: "Ubuntu", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
}