.header {
  background-color: #eae7dc;
  width: 100%;
  min-height: 30px;
  display: flex;
  justify-content: center;
}

.header__content {
  width: 100%;
  max-width: 668px;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  padding: 15px 50px;
}

.header__lang-container {
  position: relative;
}

.header__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__lang:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__lang:focus {
  outline: none;
}

.header__lang-icon {
  background-image: url('../../images/icons8-globe-64.png');
  width: 25px;
  height: 25px;
  background-size: contain;
}

.header__lang-chosen {
  margin: 0;
  color: #000;
}

.header__lang-popup {
  width: 90px;
  position: absolute;
  z-index: 999;
  top: 130%;
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  gap: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #000;
}

.header__lang-popup_hidden {
  display: none;
}

.header__lang-choice {
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: left;
  color: #000;
}

.header__lang-choice:hover {
  cursor: pointer;
  opacity: 0.7;
  font-weight: bold;
}

.header__nav-container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.header__link {
  text-align: bottom;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  text-underline-offset: 7px;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.4s;
}

.header__link_active {
  text-decoration: underline;
}

@media screen and (min-width: 100px) and (max-width: 424px) {
  .header__content {
    padding: 15px 25px;
  }

  .header__nav {
    gap: 10px;
  }

  .header__link {
    font-size: 15px;
  }
}
