.header {
  background-color: #eae7dc;
  /* background: linear-gradient(to right, rgb(234 231 220 / 0) 5%, #eae7dc 10% 85%, rgb(234 231 220 / 0) 95%); */
  width: 97vw;
  min-height: 30px;
  display: flex;
  justify-content: center;
}

.header__content {
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: flex-end;
  justify-self: center;
}

.header__container {
  padding: 15px 50px 15px 15px;
}

.header__nav {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.header__link {
  text-align: bottom;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  /* border: 2px solid;
  border-color: #eae7dc; */
  text-underline-offset: 7px;
}

.header__link:hover {
  cursor: pointer;
  opacity: .6;
  /* border: 2px solid; */
  transition: all .4s;
}

.header__link_active {
  text-decoration: underline;
}

/* @media screen and (max-width: 1023px) {
  .header {
    background: linear-gradient(to right, rgb(234 231 220 / 0) 5%, #eae7dc 15% 85%, rgb(234 231 220 / 0) 95%);
  }
} */

@media screen and (min-width: 100px) and (max-width: 424px) {
  .header__container {
    padding: 10px 25px 15px 10px;
  }

  .header__nav {
    gap: 10px;
  }

  .header__link {
    font-size: 15px;
  }
}