.header {
  background-color: #eae7dc;
  width: 100%;
  min-height: 30px;
  display: flex;
  justify-content: center;
}

.header__content {
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: end;
}

.header__container {
  padding: 15px 50px 15px 15px;
}

.header__nav {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.header__link {
  text-align: bottom;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  border: 2px solid;
  border-color: #eae7dc;
}

.header__link:hover {
  cursor: pointer;
  opacity: .6;
  border: 2px solid;
  transition: all .4s;
}

.header__link_active {
  text-decoration: underline;
  text-underline-offset: 5px;
}