.footer {
  /* background-color: #eae7dc; */
  background: linear-gradient(to right, rgb(234 231 220 / 0) 5%, #eae7dc 15% 85%, rgb(234 231 220 / 0) 95%);
  width: 97vw;
  min-height: 30px;
  display: flex;
  justify-content: center;
}

.footer__content {
  width: 100%;
  max-width: 768px;
  display: flex;
}

.footer__container {
  padding: 15px 50px 15px 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  margin: 0;
  font-size: 14px;
}

.footer__link {
  text-decoration: none;
  color: black;
  display: flex;
  max-height: 25px;
  align-items: center;
  gap: 7px;
}

.footer__link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media screen and (min-width: 100px) and (max-width: 424px) {
  .footer__container {
    padding: 10px 25px;
  }

  .footer__text {
    font-size: 12px;
  }
}