.footer {
  background-color: #eae7dc;
  width: 100%;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__content {
  width: 100%;
  max-width: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__container {
  padding: 15px 50px 15px 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__text {
  margin: 0;
  font-size: 14px;
}

.footer__link {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 7px;
}

.footer__link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media screen and (min-width: 100px) and (max-width: 424px) {
  .footer__container {
    padding: 10px 25px;
  }

  .footer__text {
    font-size: 12px;
  }
}
